NEXT_PUBLIC_SITE_URL=https://www.lunadenspaurfa.com
NEXT_PUBLIC_GOOGLE_ADS_ID=AW-18303510867
NEXT_PUBLIC_GOOGLE_ADS_WHATSAPP_LABEL=wOv2CJCqyM0cENPS5ZdE
NEXT_PUBLIC_GOOGLE_ADS_PHONE_LABEL=pdUgCJfAr80cENPS5ZdE
